* {
	margin:0;
	padding:0;
	border:0;
}
/*
  pad the body and set default font styles
*/
body {
 font-family: 'Source Sans Pro', sans-serif;
 width: 100%;
}

/*  navigation bar*/
.nav, nav {
  list-style: none;
  margin: 20px 0 0 20px;
}

/*  top menu list items - stack top links side by side
*/
.nav li {
  float: left; /*1*/
  background: #000000;
}

/*  top level rounded corners
  1. first top level li edges round
  2. first top level link edges round (this keeps the border radius on hover)
*/
.nav > li:first-of-type, /* 1 */
.nav > li:first-of-type a { /* 2 */
  border-radius: 5px 0 0 5px;
}

/*
  1. last top level li edges round
  2. last top level link edges round (this keeps the border radius on hover)
*/
.nav > li:last-of-type, /* 1 */
.nav > li:last-of-type a { /* 2 */
  border-radius: 0 5px 5px 0;
}

/*
  1. make links block item
  2. remove link underline
  3. makes the transition smoother when hovering off a link
  4. add text shadow
*/
.nav li a {
  display: block; /*1*/
  padding: 12px 14px;
  text-decoration: none; /*2*/
  color: #fff;
  transition: all ease .5s; /*3*/
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1); /* 4*/
  text-transform: uppercase;
  font-size: 1.2em;
}

/*    on hovering over ul make links fade out */
.nav:hover li a {
  opacity: .5;
  transition: all ease .5s;
}

/* override previous rule for when hovering over individual link
*/
.nav li:hover a {
  opacity: 1;
}

/*  responsive nav */

/* hide select menu */
nav select {
	display: none;
}

/* hide - prefix on submenu */
.nav span {
	display: none;
}

/* media queries */
@media only screen and (max-width: 767px) {

		/* hide nav */
		.nav {
			display: none !important;
		}
    /* show menu */
		nav select {
			display: inline-block;
		}
    /* show - prefix on sub items */
		.nav span {
			display: inline;
		}

	}

header {
  clear: both;
  width: 100%;
  height: 100%;
}

header h1 {
  font-size: 3.4em;
  text-transform: uppercase;
}


h2, .formheader {
  font-size: 2em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6em;
}

.formheader {
  padding: 0 4px;
}

p {
  font-size: 1.3em;
  padding-top: 50%;
}

header p {
  font-size: 2em;
  padding-top: 50%;
}

header h1, header p {
  padding-left: 48px;
}

header img {
  text-align: right;
  width: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
  width: 50%;
}

.clear {
  clear: both;
}

.calloutbtn {
  background-color: #000000;
  border-radius: 5px;
  margin-left: 48px;
  width: 300px;
  text-align: center;
}

.calloutbtn p {
  color: #ffffff;
  font-size: 2em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .1); /* 4*/
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}

.calloutbtn a {
  text-decoration: none;
  color: #ffffff;
}

.calloutbtn a:visited {
  text-decoration: none;
  color: #ffffff;
}

.calloutbtn a:hover {
  opacity: .5;
  transition: all ease .5s;
}

.nomargin {
  margin: 50px 0;
}

li a.bigfont {
  font-size: 1.4em;
}

#about, section {
  width: 90%;
  padding: 100px 48px 0 48px;
}

section p {
  padding-top: 10px;
}

#about img {
  width: 40%;
  text-align: left;
}

#contactform {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-right: 48px;
}

.well {
  background-color: #000000;
  margin-right: 100px;
}

legend, .col-md-4, .control-label {
  color: #ffffff;
}

.btn-warning {
  background-color: inherit;
  border-color: inherit;
}

.btn-warning:hover {
  background-color: #555;
  border-color: #ccc;
}
legend.disclaimer {
  font-size: 1em;
  padding: 8px 0;
}

submit {
  padding: 8px 0;
}

label, input[type=text] {
  display: inline;
}

#success_message{ display: none;}

.card {
  width: 50%;
  margin: 40px 100px 50px 100px;
  border-radius: 5px;
  border: 4px solid black;
  background-color: #ccc;
  height: 100%;
  padding: 30px;
  overflow: hidden;
}

.cardheader {
  margin-bottom: 40px;
}

.card img {
  width: 50%;
  float: right;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
}

.pullquote {
  font-weight: bold;
}

.cv {
  width: calc(96% / 3);
  margin: 3px;
}

footer {
  bottom: 0;
  position: fixed;
  margin-left: 48px;
  font-size: 0.8em;
}

.paddingtop {
  padding: 100px 48px
}
